<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="db_gulSistemEntities" connectionString="metadata=res://*/gulsistem.csdl|res://*/gulsistem.ssdl|res://*/gulsistem.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-69S6Q42\SQLEXPRESS;initial catalog=db_gulSistem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>